<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.persol.ispss">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".BatchPayActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity android:name=".SingleSchemeActivity"
            android:parentActivityName=".SchemeActivity"/>
        <activity
            android:name=".BeneficiaryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".PayActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".FavouritesActivity"
            android:parentActivityName=".HomeActivity"/>
        <activity
            android:name=".HistoryActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".BeneficiariesActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".SchemeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".WebViewPaymentActivity" />
        <activity
            android:name=".SavingsConfigActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".JoinSchemeActivity"
            android:parentActivityName=".HomeActivity" />
        <activity
            android:name=".RegisterMemberActivity"
            android:parentActivityName=".HomeActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".CodeActivity" />
        <activity
            android:name=".RegisterUserActivity"
            android:parentActivityName=".MainActivity" />
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>